body {
  background-image: url(img/background.jpg);
  background-size: 100% auto;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

.container {
  background-color: rgb(0, 0, 0, 0.5);
  margin: 30px auto;
  width: 63%;
  border-radius: 2%;
}

header {
  text-align: center;
  padding-top: 100px;
}

.lim-logo {
  width: 240px;
  padding-bottom: 10px;
}

h1 {
  color: rgb(13, 217, 13);
  margin: 0;
}

nav {
  width: 1050px;
  height: 40px;
  margin: 5px auto;
  background-color: rgb(13, 217, 13);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

main {
  width: 1050px;
  margin: auto;
  padding-bottom: 100px;
}

section > h2, p {
  color: white;
}

h2 {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 0;
}

p {
  margin: 5px 0px;
  font-size: 15px;
}

.battery {
  height: 28px;
  border-radius: 4px;
}

.battery.halfcharged {
  background-color: rgb(240, 195, 70);
  width: 355px;
}

.battery.charged {
  background-color: rgb(4, 179, 4);
  width: 640px;
}

.battery.low {
  background-color: rgb(227, 41, 41);
  width: 140px;
}

footer {
  text-align: center;
  padding-bottom: 10px;
  color: white;
}

